@model List<GalleryImage>

@if (Model != null && Model.Count > 0)
{
    <div class="row g-3">
        @foreach (var image in Model)
        {
            <div class="col-6 col-md-4 col-lg-2">
                <div class="card h-100">
                    <img src="@image.ImagePath" class="card-img-top img-thumbnail" alt="Gallery Image">
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No images available.</p>
}